@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Paytone One';
  src: url('/fonts/PaytoneOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Matter", sans-serif;
  background-color: #232323;
  touch-action: pan-y;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Matter", sans-serif;
}

#root {
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
*::-webkit-scrollbar {
  display: none;
  width: 0 !important
}

/* For IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

* {
  scrollbar-width: none;
}